[submodule "code/cneuromod_extract_tseries"]
	path = code/cneuromod_extract_tseries
	url = git@github.com:courtois-neuromod/cneuromod_extract_tseries.git
	datalad-id = ae0100ab-db64-4559-80e2-f41fed3cc5f4
	datalad-url = https://github.com/courtois-neuromod/cneuromod_extract_tseries.git
[submodule "sourcedata/movie10.fmriprep"]
	path = sourcedata/movie10.fmriprep
	url = git@github.com:courtois-neuromod/movie10.fmriprep.git
	datalad-id = 3f0351b0-6d9f-4d05-841e-040cbe830bc7
	datalad-url = https://github.com/courtois-neuromod/movie10.fmriprep.git
